* {
  margin: 0;
}

.product {
  text-align: justify;
  border: 5px solid #000;
  margin: auto 100px;
  width: 900px;
}
body {
  font-family: sans-serif;
  margin: 100px 100px;
  line-height: 1.4;
}
.product-name {
  text-align: center;
  font-size: 30px;
  margin: 8px;
}
.price {
  font-size: 22px;
  margin: 0;
}
.shippment {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(86, 88, 89);
  margin-bottom: 22px;
  margin-top: 0;
}
.descrip {
  font-size: 18px;
  margin-bottom: 0;
}
.info:link,
.info:visited {
  font-size: 18px;
  color: #000;
  display: inline-block;
}
.info:hover,
.info:active {
  font-size: 18px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.details {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}
.list {
  margin: 15px;
  font-size: 18px;
  padding-left: 7px;
  list-style: square;
}
