* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product {
  text-align: justify;
  border: 5px solid #000;
  padding: auto auto;
  margin: auto auto;
  width: 1200px;
  position: relative;
}
body {
  font-family: sans-serif;
  margin: 100px 100px;
}
.product-name {
  text-align: center;
  font-size: 30px;
  margin: 8px;
}
.price {
  font-size: 22px;
  margin: 0;
  float: left;
}
.shippment {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(86, 88, 89);
  margin-bottom: 22px;
  margin-top: 0;
  float: right;
}
.sale {
  color: rgb(208, 34, 34);
  background-color: yellow;

  padding: 5px 10px;

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.4px;
  position: absolute;
  top: -25px;
  left: -25px;
  display: inline-block;
}
.descrip {
  font-size: 18px;
  margin-bottom: 0;
  clear: both;
}
.info:link,
.info:visited {
  font-size: 18px;
  color: #000;
  display: inline-block;
}
.info:hover,
.info:active {
  font-size: 18px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.details {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}
.list {
  margin: 15px;
  font-size: 18px;
  padding-left: 7px;
  list-style: square;
}
.list li {
  margin-bottom: 10px;
}
.add-cart {
  background-color: #000;

  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  width: 1192px;
  border-top: 5px solid black;
}
.add-cart:hover,
.add-cart:active {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
.colors {
  height: 22px;
  width: 22px;
  background-color: #000;
  margin-right: 10px;
  display: inline-block;
}
.color-blue {
  background-color: rgb(29, 54, 199);
}
.color-red {
  background-color: rgb(255, 0, 0);
}
.color-yellow {
  background-color: yellow;
}
.color-green {
  background-color: rgb(72, 183, 72);
}
.color-orange {
  background-color: rgb(255, 68, 0);
}
.part {
  float: left;
}
.part-mid {
  float: left;
}
.last-part {
  float: left;
}
.clearfix-part {
  clear: both;
}
