* {
  margin: 0;
  padding: 0;
}

.product {
  text-align: justify;
  border: 5px solid #000;
  margin: auto 100px;
  width: 925px;
  position: relative;
}
body {
  font-family: sans-serif;
  margin: 100px 100px;

  line-height: 1.4;
}
.product-name {
  text-align: center;
  font-size: 30px;
  margin: 8px;
}
.price {
  font-size: 22px;
  margin: 0;
}
.shippment {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(86, 88, 89);
  margin-bottom: 22px;
  margin-top: 0;
}
.sale {
  color: rgb(208, 34, 34);
  background-color: yellow;
  width: 50px;
  padding: 5px 10px;

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.4px;
  position: absolute;
  top: -20px;
  left: -15px;
  display: inline-block;
}
.descrip {
  font-size: 18px;
  margin-bottom: 0;
}
.info:link,
.info:visited {
  font-size: 18px;
  color: #000;
  display: inline-block;
}
.info:hover,
.info:active {
  font-size: 18px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.details {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}
.list {
  margin: 15px;
  font-size: 18px;
  padding-left: 7px;
  list-style: square;
}
.list li {
  margin-bottom: 10px;
}
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 5px solid black;
}
.add-cart:hover,
.add-cart:active {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
